@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Invensos narių puslapis</h1>
    <p class="lead">Sveiki atvykę į invensos puslapį! Čia galite pateikti anketą klubo narystei arba prisijungti, jei esate narys.</p>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">Prisijungti &raquo;</a></p>
    <br>
    <br>
    <br>
    <p><a href="/Questionnaire/Create" class="btn btn-primary btn-lg">Kurti anketą &raquo;</a></p>
</div>